<h2>Iniciar sesión</h2>

{{#if error}}
<p style="color:red;">{{error}}</p>
{{/if}}

<form action="/auth/login" method="POST">
    <label>Usuario:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Contraseña:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Entrar</button>
</form>