body {
    background-color: #cf90e217;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 12px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

nav {
    background: linear-gradient(90deg, #dec0f7, #8a39b9);
    font-weight: 900;
    font-family: 'Times New Roman';
}

/* STYLOS HOME*/
.home {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 220px;
    padding: 50px;
}