nav {
    background: linear-gradient(90deg, #dec0f7, #8a39b9);
    font-weight: 900;
    font-family: 'Times New Roman';
}

.page-login .container {
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
    height: 60vh;
}

.page-login .card {
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-register .cord {
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
}


/* STYLOS HOME*/
.home .container {
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
    height: 40vh;
}

.home .card {
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-list {
    font-family: 'Times New Roman';
}

.list-card .product-image-container {
    width: 100%;
    height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
}

.list-card .product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

/* Estilos solo para la página de lista de productos */
.page-products .product-image-container {
    width: 100%;
    height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.page-products .product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    background-color: #fff;
}
